:root{
    --dark-blue:#363f5f;
    --green: #49AA26;
    --light-green :#3dd705;
    --red: #e92929;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box; /*por defeito o css tem o content-box*/
}

html{
    font-size: 93.75%; /*Definir o tamanho padrão da fonte.Se 100% é 16px, 15px é 93.75%*/
}

body {
    background-color: #f0f2f5;
    font-family: 'Poppins',sans-serif;
}

/*Esta classe é para remover os titulos Balanço e Transações, sem os remover totalmente (ex: display:none)
 *Queremos que esteja no HTML mas de forma invisivel para ser lido pelos leitores de tela*/
.sr-only {
    position: absolute; /*posicionamento absoluto em relação ao pai*/
    width: 1px;
    height: 1px;
    overflow: hidden;
    
    padding:0;
    margin:-1px;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.container{
    width: min(90vw, 800px); /*min vai usar um destes valores, o que for mais baixo*/
    margin:auto;
}

/* Titles==========================*/
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color:var(--dark-blue);
    font-weight: normal;
}

/* Links & Buttons==========================*/
a {
    color:var(--green);
    text-decoration: none; /*remove underline*/
}

a:hover {
    color: var(--light-green);
}

button {
    width: 100%;
    height: 50px;
    
    border: none;

    color: white;
    background: var(--green);

    padding: 0;

    border-radius: 0.25rem;

    cursor: pointer;
}

button:hover {
    background:var(--light-green);
}

.button.new{
    display: inline-block;/*aplica as propriedades do block (ex: ter margin) e propriedades do inline 
                           *que faz com que o elemento tenha a largura minima necessária, enquanto que 
                           *o display block, o elemento ocuparia 100% width */
    margin-bottom: .8rem;
}
 .button.cancel {
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 0.25rem;
    
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.6;
 }

 .button.cancel:hover {
    opacity: 1;
 }

/* Header==========================*/
header{
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}

header h1 {
    color:#fff;
    font-weight:100;
}

/* Balance==========================*/
#balance {
    margin-top: -8rem;
}

#balance h2{
    color: white;
    margin-top: 0;
}

/* Cards==========================*/
.card{
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;

    margin-bottom: 2rem;
    color: var(--dark-blue);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex; /*O flex contraria o efeito padrão do HTML que é um elemento abaixo do outro. 
                    O Flex deixa os elementos um ao lado do outro dentro da caixa*/
    align-items: center; /* alinha 2 elementos na vertical neste caso ao centro*/
    justify-content: space-between; /*separa os elementos de forma a haver o maior espaço entre eles*/
}

.card p {
    font-size: 2rem;
    line-height: 3rem; /*espaçamento da linha*/

    margin-top: 1rem;
}

.card.total {
    background: var(--green);
    color: white;
}

/* Table==========================*/
#transaction {
    display: block;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem; 
    color: #969cb3;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0; /*border-radius funciona no sentido do relógio*/
}

table th {
    background: white;

    font-weight: normal;
 
    padding: 1rem 2rem;
    text-align: left;
}

table tbody tr {
    opacity: 0.6;
}

table tbody tr:hover {
    opacity: 1;
}

table td {
    background: white;
    
    padding: 1rem 2rem;
}

td.description {
    color:var(--dark-blue);
}

td.income {
    color:#12a454;
}

td.expense {
    color:#e92929;
}

/* Modal==========================*/
.modal-overlay {
    /*Definir altura e largura para ocuparem 100% da tela*/
    width: 100%;
    height: 100%;

    background-color: rgba(0,0, 0, 0.7);

    /*Fixa o elemento na tela*/
    position: fixed;
    top:0;

    /*Para colocar centrar o modal na tela*/
    display: flex;
    align-items: center;
    justify-content: center;

    /*Para esconder o modal*/
    opacity: 0;
    visibility: hidden;

    z-index:100;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #f0f2f5;
    padding: 2.4rem;
    position: relative;

    max-width: 500px;
    width: 90%;
}

/* Form==========================*/

#form {
    max-width: 500px; 
}

#form h2 {
    margin-top: 0;
}

.input-group {
    margin-top: 0.8rem;;
}

input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
}

.input-group small {
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

/* Footer==========================*/

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}


/* Responsive==========================*/

@media (min-width: 800px){
    html {
        font-size: 87.5%; /*15px*/
    }

    #balance {
        display: grid; /*O flex trabalha apenas uma dimensão vertical/horizontal
                        *O Grid permite trabalhar as 2 dimensoes ao mesmo tempo*/
        grid-template-columns: 1fr 1fr 1fr; /* estamos a criar 3 colunas cada uma com 1fraçao*/
        gap: 2rem;
    }
}